{% extends "base.html.twig" %}



{% block stylesheets %}
    {{ parent()}}

    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/isotope.css') }}css/isotope.css" media="screen" />	
    <link rel="stylesheet" href="{{ asset('bundles/app/js/fancybox/jquery.fancybox.css') }}" type="text/css" media="screen" />
{% endblock %}

{% block body %}

    <div class="breadcrumb">
        <h2>Галерија</h2>
        <i class="fa fa-sort-amount-desc" aria-hidden="true">{{knp_pagination_sortable(gallery,'сортирај по датуму','img.id')}}</i>
    </div>

    {% if gallery is not empty %}   
        {% for gal in gallery %}
            <section id="section-works" class="section appear clearfix">
                <div class="container">						
                    <div class="row">

                        <div class="col-md-12">
                            <div class="row">
                                <div class="portfolio-items isotopeWrapper clearfix" id="3">							  
                                    <article class="col-md-12 isotopeItem webdesign">
                                        <div class="portfolio-item">
                                            <div class="wow rotateInUpLeft" data-animation-delay="4.8s">
                                                <img src="{{ vich_uploader_asset(gal, 'imageFile') }}" alt="welcome" />
                                            </div>
                                            <div class="portfolio-desc align-center">
                                                <div class="folio-info">
                                                    <h5><a href="">{{gal.title}}</a></h5>
                                                    <a href="{{ vich_uploader_asset(gal, 'imageFile') }}" class="fancybox"><i class="fa fa-external-link fa-2x"></i></a>
                                                </div>										   
                                            </div>
                                        </div>
                                    </article>

                                 


                                </div>                                       
                            </div>                                     
                        </div>
                    </div>


                </div>

            </section>

        {% endfor %}
    {% endif %} 
    <div class="navigation">
        {{ knp_pagination_render(gallery) }}
    </div>        
{% endblock %}